.form-group {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    min-height: 80px !important;
    overflow: visible !important;
    margin-bottom: 10px !important
}

span,
label {
    flex: 0 0 35% !important;
    font-size: 1.3rem !important;
    font-weight: bold !important;
    margin: 0 !important;
    align-items: center !important
}

input[type=range] {
    -webkit-appearance: none !important;
    display: flex !important;
    flex: 1 !important;
    height: 14px !important;
    width: 100% !important;
    background: #bbb !important;
    border-radius: 7px !important;
    outline: none !important;
    margin: 30px 12px !important;
    overflow: visible !important
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 46px !important;
    width: 46px !important;
    border-radius: 50% !important;
    background: #ff5722 !important;
    border: 4px solid #fff !important;
    box-shadow: 0 20px 20px rgba(255, 87, 34, 0.5) !important;
    margin-top: -16px !important;
    cursor: pointer !important;
    position: relative !important;
    z-index: 999 !important
}

input[type=range]::-moz-range-thumb {
    height: 46px !important;
    width: 46px !important;
    border-radius: 50% !important;
    background: #ff5722 !important;
    border: 4px solid #fff !important;
    box-shadow: 0 20px 20px rgba(255, 87, 34, 0.5) !important;
    cursor: pointer !important
}

input[type=range]::-webkit-slider-runnable-track {
    height: 14px !important;
    background: #444 !important;
    border-radius: 7px !important
}

input[type=range]::-moz-range-track {
    height: 14px !important;
    background: #444 !important;
    border-radius: 7px !important
}

input[type=submit],
input[type=button],
button,
.btn {
    font-size: 1.6rem !important;
    height: 70px !important;
    width: 100% !important;
    font-weight: bold !important;
    border-radius: 15px !important;
    margin-top: 25px !important;
    display: block !important;
    -webkit-appearance: none
}